# data analysis libraries
numpy
scipy
pandas
pandas-datareader


# database connection, ORM
psycopg2
sqlalchemy


# visualization
matplotlib
plotly
dash
mplfinance
jupyterlab
pillow


# portfolio, performance analysis
pyfolio
finquant

# web frameworks and extensions
fastapi
flask
flask-cors
flask-login
flask-sqlalchemy
itsdangerous
aiofiles
chalice

# servers, task queue
uvicorn
gunicorn
celery

# networking
requests
boto3
urllib3
websocket-client
websockets

# other data stores, formats
redis
h5py

# utilities
beautifulsoup4
pendulum
click
passlib


